$primaryColor: #42c698;
$secondaryColor: #005e79;
$tertiaryColor: #feb02d;
$tertiaryColorLowLight: #d76537;
$lineColor: #e0fffc; 
$lightGreenLineColor: #adf0d5;
$bgTop: #e0fffc;
$bgBottom: #98ffe7;
//$bodyFont: 'Work Sans', sans-serif; 
$bodyFont: 'Nunito', sans-serif; 
$linesUrl: '../img/funky-lines.png';
$lightGreenLinesUrl: '../img/funky-lines-light-green.png';

$choices-bg-color: $lineColor;